<footer>
  <p><%= Time.now.year %>, Aleksey, Project: <a href="https://github.com/ajluxey/test-guru" rel="nofollow" target="_blank">TestGuru</a></p>
  <p>This site is a platform for conducting tests. Registered users will be able to create their own tests and take tests created by other users. This project is my attempt at mastering Ruby on Rails</p>
  <a href="https://www.thinknetica.com" rel="nofollow" target="_blank">Study project at Thinknetica online school</a>
</footer>