<h3>О сайте</h3>
<p>Данный сайт является проектом по изучению Ruby on Rails. В рамках проекта будет создан сайт, на котором пользователи смогу выбирать тесты, проходить их и получать результаты тестирования. Выражаем благодарность курсам с сайта <a href="https://www.thinknetica.com">Thinknetica</a> за помощь в обучении.</p>
<a href="/about/author">Об авторе</a>