nav.nav-bar {
  border-bottom: 2px solid black;
}

nav.nav-admin {
  border-bottom: 2px solid blue;
}

nav.nav-bar > ul {
  padding: 0;
  list-style: none;
}

nav.nav-bar > ul > li {
  display: inline-block;
  padding: 0 20px;
}

nav.nav-bar > ul > li > a {
  display: block;
}