<h2>All tests:</h2>

<table>
  <thead>
    <th>Test</th>
    <th>Level</th>
    <th>Questions count</th>
    <th>Author</th>
    <th>Action</th>
  </thead>

  <tbody>
    <%= render @tests %>
  </tbody>

</table>  