<h2>All tests:</h2>

<%= link_to 'Create new test', new_test_url %>

<table>
  <thead>
    <th>Test</th>
    <th>Level</th>
    <th>Questions count</th>
    <th>Author</th>
    <th colspan="4">Action</th>
  </thead>

  <%= render @tests %>

</table>  